.select-address-container {
	background-color: #f9f0e6;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	width: 90%;
	margin: 20px auto;
	padding: 2em;
	border-radius: 8px;
	text-align: center;
}

.select-address-container h2 {
	color: #333;
	margin-bottom: 20px;
	text-align: center;
}

.address-item {
	padding: 0.5em;
	margin: 0.5em 0;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	cursor: pointer;
}

.address-item:hover {
	background-color: #eee;
}

/* Style dla formularza dodawania nowego adresu */
.select-address-container input {
	width: 100%;
	padding: 0.5em;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-sizing: border-box;
	text-align: center; /* Wyśrodkowanie placeholdera i tekstu */
	font-size: 18px;
}

.select-address-container input::placeholder {
	text-align: center;
	opacity: 0.6;
}

.select-address-container button {
	width: 100%;
	padding: 15px;
	background-color: #d9a571;
	border: none;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	margin-top: 5px;
	font-size: 1em;
}

.select-address-container button:hover {
	background-color: #c98a5f;
}
