.newsletter {
	width: 100%;
	height: 60vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto;
	background-color: #eeddcc;
	padding-top: 130px;
	gap: 20px;
	flex-wrap: wrap;
}

.newsletter h1 {
	color: #5e3a13;
	font-size: 55px;
}

.newsletter p {
	color: #5e3a13;
	font-size: 20px;
}

.newsletter div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #eeddcc;
	width: 730px;
	height: 70px;
	border-radius: 80px;
	border: 1px solid #5e3a13;
}

.newsletter input {
	width: 500px;
	margin-left: 30px;
	border: none;
	outline: none;
	color: 5e3A13;
	font-family: Poppins;
	font-size: 16px;
	background-color: #eeddcc;
	color: #5e3a13;
}

.newsletter div button {
	width: 210px;
	height: 70px;
	border-radius: 80px;
	background: #c4996c;
	color: #5e3a13;
	border: 1px solid #5e3a13;
	font-size: 20px;
	font-weight: 500;
	outline: none;
	cursor: pointer;
}

.newsletter div button:active {
	background: #eeddcc;
}
