.navigation-bar {
    display: flex;
    justify-content: space-evenly;
    padding: 18px;
    box-shadow: 0 1px 7px 0px #5E3A13;
    background-color: #EEDDCC;
    align-items: center;
    flex-wrap: wrap;
}

.nav-logo {
    display: flex;
    align-items:initial;
    gap: 10px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    font-size: 20px;
    font-weight: 500;
    color: #5E3A13;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr {
    border: none;
    width: 80%;
    height: 2px;
    border-radius: 10px;
    background: #5E3A13;
}

.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-login-cart button {
    width: 100px;
    height: 42px;
    outline: none;
    border-radius: 200px;
    border: 4px solid #5E3A13;
    color: #5E3A13;
    background: #EEDDCC;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.nav-login-cart button:active {
    background: #C4996C;
}

.user-icon {
    height: 40px;
    font-size: 40px;
    color: #5E3A13;
}

.cart-icon {
    height: 40px;
    font-size: 40px;
    color: #5E3A13; 
}

.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -65px;
    margin-left: -46px;
    border-radius: 10px;
    font-size: 17px;
    background: red;
    color: white;
}

.nav-login-cart select {
    width: 70px;
    height: 40px;
    outline: none;
    border-radius: 75px;
    border: 2px solid #5E3A13;
    color: #5E3A13;
    background-color: #EEDDCC;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
