.addressesContainer {
	background: #f8f0e3;
	padding: 40px;
	width: 70%;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin: 0;
	margin-right: auto;
}

.addressesContainer h2 {
	color: #333;
	margin-bottom: 20px;
}

.addressItem {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
}

.addressItem span {
	display: block;
	font-size: 20px;
}

.addressActions button {
	background: none;
	border: none;
	cursor: pointer;
	padding: 10px;
	flex-wrap: nowrap;
}

.addressActions button svg {
	width: 24px;
	height: 24px;
	color: #5e3a13;
}
.addressActions button:hover svg {
	color: #c4996c;
}

.editInput {
	width: 100%;
	padding: 10px;
	margin: 5px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 1em;
	width: calc(100% - 100px);
}

.addAddressButton {
	width: 100%;
	padding: 15px;
	background-color: #d9a571;
	border: none;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	margin-top: 5px;
	font-size: 1em;
	margin-bottom: 30px;
}

.addAddressButton:hover {
	background-color: #c98a5f;
}

.newAddressContainer input {
	width: 100%;
	padding: 10px;
	margin: 5px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 1em;
	width: calc(100% - 100px);
}
