.footer {
	background-color: #5e3a13;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	box-sizing: border-box;
}

.footer-logo img {
	width: 100px;
}

.footer-opening-hours {
	text-align: center;
}

.footer-opening-hours h1 {
	color: #eeddcc;
	font-size: large;
}

.footer-opening-hours p {
	color: #eeddcc;
	font-size: large;
}

.footer-social-media {
	display: flex;
}

.footer-social-media div {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	color: #eeddcc;
	background-color: #5e3a13;
}
