.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 2rem;
    margin: auto;
    max-width: 800px; /* Ograniczenie szerokości kontenera */
    background-color: #fff; /* Tło kontenera */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtelny cień dla kontenera */
    border-radius: 8px; /* Zaokrąglenie rogów kontenera */
}

.product-image-section,
.product-details-section {
    width: 100%;
}

.product-image {
    max-width: 300px; /* Ograniczenie wielkości obrazu */
    height: auto;
    margin: 0 auto; /* Wyśrodkowanie obrazu */
}

.custom-file-input + label {
    display: block; /* Etykieta jako blok */
    margin: 10px auto; /* Wyśrodkowanie etykiety/przycisku */
    text-align: center;
}

.product-title, .product-category, .product-price, .product-description textarea {
    width: 100%; /* Pełna szerokość inputów i textarea */
    padding: 0.5rem;
}

.product-actions {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.save-changes-btn, .delete-product-btn {
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.save-changes-btn {
    background-color: #4CAF50; /* Zielony kolor dla zapisu */
}

.save-changes-btn:hover {
    background-color: #45a049;
}

.delete-product-btn {
    background-color: #f44336; /* Czerwony kolor dla usunięcia */
}

.delete-product-btn:hover {
    background-color: #d32f2f;
}
