.products-page {
	flex-direction: column;
	align-items: center;
	display: grid;
}

.filter-bar {
	display: flex;
	justify-content: center;
	gap: 10px;
	width: 100%;
	margin-bottom: 20px;
}

.search-input,
.sort-select {
	padding: 10px;
	border: 2px solid #5e3a13;
	border-radius: 10px;
	background-color: #efd3b5;
	font-size: 16px;
	opacity: 1;
}

.search-input::placeholder {
	color: #5e3a13;
	font-size: 16px;
	opacity: 1;
}

.filter-options-row {
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin-bottom: 20px;
}

.filter-category,
.filter-price {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	color: #5e3a13;
	font-size: 20px;
}

.filter-category div,
.filter-price div {
	display: flex;
	gap: 10px;
}

.filter-category button,
.filter-price button {
	padding: 5px 10px;
	background-color: #efd3b5;
	border: 2px solid #5e3a13;
	color: #5e3a13;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
	font-size: 16px;
}

.filter-category button:hover,
.filter-price button:hover {
	background-color: #e0e0e0;
}

.products {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

.productListItem {
	flex: 0 1 calc(15% - 20px);
	border: 2px solid #5e3a13;
	padding: 10px;
	margin: 10px;
	box-sizing: border-box;
}

.filter-button.active {
	background-color: #a0522d;
	color: white;
}
