.product-image-container {
    max-width: 300px; /* Dostosuj maksymalną szerokość obrazu */
    flex-shrink: 0; /* Zapobiega zmniejszaniu obrazu przy zmianie rozmiaru okna */
  }
  
  .product-image {
    width: 100%; /* Sprawia, że obraz skaluje się w obrębie kontenera */
    height: auto;
    display: block; /* Zapobiega domyślnym marginesom przeglądarki */
    margin: 0 auto; /* Wyśrodkowanie obrazu w poziomie */
  }
  
  .product-info {
    flex-grow: 1; /* Zajmuje dostępną przestrzeń */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Wyrównuje tekst i przyciski do lewej */
  }
  
  .product-name, .category, .price, .description h3 {
    width: 100%; /* Zapewnia pełną szerokość dla tytułu, kategorii, ceny i nagłówka opisu */
    text-align: left; /* Tekst wyrównany do lewej */
  }
  
  .quantity-controls, .product-actions {
    display: flex;
    gap: 10px;
    margin: 20px 0; /* Dostosuj marginesy do potrzeb */
  }
  
  .quantity-controls button, .add-to-cart-btn, .favourite-btn {
    padding: 10px 15px;
    border: 1px solid #ccc;
    background-color: #f8f8f8; /* Lekki szary tło dla przycisków */
    cursor: pointer;
  }
  
  .add-to-cart-btn, .favourite-btn {
    border-color: #5E3A13;
    color: #5E3A13; /* Kolor tekstu */
  }
  
  .add-to-cart-btn {
    background-color: #5E3A13; /* Kolor tła */
    color: white; /* Kolor tekstu */
  }
  
  .favourite-btn {
    background-color: transparent;
  }
  
  .description {
    max-width: 100%; /* Zapewnia, że opis nie przekracza kontenera */
  }
  