.userPageContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	gap: 20px;
	padding: 20px;
	min-height: 100vh;
}

.userSidebar {
	flex: 1;
	width: 250px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 100px;
	padding-top: 100px;
	min-height: 100vh;
}

.userSidebar h1 {
	font-size: 30px;
	text-decoration: underline;
	margin-bottom: 20px;
	color: #5e3a13;
}

.userSidebar nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.userSidebar nav ul li {
	margin-bottom: 10px;
	color: #5e3a13;
}

.userSidebar nav ul li a {
	font-size: 24px;
	text-decoration: underline;
	color: inherit;
	transition: color 0.3s;
}

.userSidebar nav ul li a:hover,
.userSidebar nav ul li a:active {
	color: #c4996c;
	cursor: pointer;
}

.userContent {
	flex: 3;
	display: flex;
	margin-top: 100px;
}
